@import "./utils/_helpers.scss";

body {
  background-color: #fff;
}

.left,
.right {
  padding: em(32px) em(16px) em(24px);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.row {
  margin: 0;
}

textarea {
  height: 100vh;
  width: 100%;
  font-size: em(16px);
  border: none;
}
